<!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0">
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0"
  >
    <a href="" class="navbar-brand p-0">
      <h1 class="text-primary m-0">
        <i class="fa fa-utensils me-3"></i>Cafe4U
      </h1>
      <!-- <img src="img/logo.png" alt="Logo"> -->
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto py-0 pe-4">
        <a href="index.html" class="nav-item nav-link active">Home</a>
        <a href="about.html" class="nav-item nav-link">About</a>
        <a href="service.html" class="nav-item nav-link">Menu</a>
        <a href="menu.html" class="nav-item nav-link">Reservation</a>
      </div>
      <a href="/login" class="btn btn-primary py-2 px-4">Sign In</a>
    </div>
  </nav>

  <div class="container-fluid py-5 bg-dark hero-header mb-5">
    <div class="container my-5 py-5">
      <div class="row align-items-center g-5">
        <div class="col-lg-6 text-center text-lg-start">
          <h1 class="display-3 text-white animated slideInLeft">
            Cafe4U <br />Delicious Meals!
          </h1>
          <p class="text-white animated slideInLeft mb-4 pb-2">
            At Cafe4U, we bring you the finest flavors crafted with care. From
            fresh ingredients to perfectly cooked meals, every dish is a
            celebration of taste. Whether you're dining in or ordering online,
            we ensure a delightful experience with every bite. Join us and enjoy
            the warmth, comfort, and deliciousness that only Cafe4U can offer!
          </p>
          <a
            href=""
            class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft"
            >Book A Table</a
          >
        </div>
        <div class="col-lg-6 text-center text-lg-end overflow-hidden">
          <img class="img-fluid" src="assets/img/main-img.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Navbar & Hero End -->
