<div class="top mt-3">
  <p class="text-secondary guide mb-4">User > Manage Use > All User</p>
  <a href="" class="btn btn-primary mb-3" [routerLink]="['/add-user']"
    >Add User</a
  >
  <table class="table container">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">User Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile</th>
        <th scope="col">Role</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Piymi</td>
        <td>Piymi@123</td>
        <td>piyu2gmail.com</td>
        <td>0773456254</td>
        <td>Employee</td>
        <td>
          <i class="fa-solid fa-trash-can me-4 text-danger"></i>
          <i class="fa-solid fa-pen"></i>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Piymi</td>
        <td>Piymi@123</td>
        <td>piyu2gmail.com</td>
        <td>0773456254</td>
        <td>Employee</td>
        <td>
          <i class="fa-solid fa-trash-can me-4 text-danger"></i>
          <i class="fa-solid fa-pen"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
