<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form in HTML and CSS | CodingNepal</title>
  </head>
  <body>
    <div class="container">
      <div class="image-box">
        <img
          src="https://img.freepik.com/free-vector/my-password-concept-illustration_114360-3864.jpg?t=st=1719080468~exp=1719084068~hmac=a17201c6ddf12f18b950c9fc31e83c3c81e5264a4e559d37b17250a9bbebcfc5&w=740"
          alt="Beautiful Sea Landscape"
        />
      </div>
      <div class="login_form">
        <form (ngSubmit)="login()">
          <h2 class="header fw-bold">Sign In</h2>
          <div class="input_box">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              placeholder="Enter email address"
              required
            />
          </div>
          <div class="input_box">
            <div class="password_title">
              <label for="password">Password</label>
              <a href="#">Forgot Password?</a>
            </div>
            <input
              type="password"
              id="password"
              placeholder="Enter your password"
              required
            />
          </div>
          <button type="submit">Log In</button>
          <p class="sign_up">
            Don't have an account? <a href="index.html">Sign up</a>
          </p>
          <p class="separator">
            <span>or</span>
          </p>
          <div class="login_option">
            <div class="option">
              <a href="#">
                <i class="fa-brands fa-google"></i>
                <span>Google</span>
              </a>
            </div>
            <div class="option">
              <a href="#">
                <i class="fa-brands fa-apple"></i>
                <span>Apple</span>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
