<div class="top mt-3">
  <p class="text-secondary guide mb-4">Order > Manage Orders > All Orders</p>
  <table class="table container">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Booking type</th>
        <th scope="col">Number of people</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Payment Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ reservation.customerName }}</td>
        <td>{{ reservation.type }}</td>
        <td>{{ reservation.numberOfPeople || 'N/A' }}</td>
        <td>{{ reservation.date }}</td>
        <td>{{ reservation.time }}</td>
        <td [ngClass]="{'text-danger': reservation.paymentStatus === 'Pending', 'text-success': reservation.paymentStatus === 'Paid'}">
          {{ reservation.status }}
        </td>
        <td>
          <button class="btn btn-success" (click)="confirmReservation(reservation.id)">Confirm</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
