<div class="top mt-3">
  <p class="text-secondary guide mb-4">Offers > Manage Offers > Add Offers</p>
  <div class="container mt-5">
    <div class="row">
      <div class="col-2">
        <label class="fw-bold">Title</label>
      </div>
      <div class="col-10">
        <div class="input-group mb-3 w-50">
          <input
            type="text"
            class="form-control"
            placeholder="Title"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <label class="fw-bold">IMG URL</label>
      </div>
      <div class="col-10">
        <div class="input-group mb-3 w-50">
          <input
            type="text"
            class="form-control"
            placeholder="URl"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <label class="fw-bold">Description</label>
      </div>
      <div class="col-10">
        <div class="input-group mb-3 w-50">
          <input
            type="text"
            class="form-control"
            placeholder="Description"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <label class="fw-bold">Discount</label>
      </div>
      <div class="col-10">
        <div class="input-group mb-3 w-50">
          <input
            type="text"
            class="form-control"
            placeholder="Discount"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <label class="fw-bold">Start Date</label>
      </div>
      <div class="col-10">
        <div class="input-group mb-3 w-50">
          <input
            type="text"
            class="form-control"
            placeholder="Start Date"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <label class="fw-bold">End Date</label>
      </div>
      <div class="col-10">
        <div class="input-group mb-3 w-50">
          <input
            type="text"
            class="form-control"
            placeholder="End Date"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
        <button class="btn btn-primary float right">Save</button>
      </div>
    </div>
  </div>
</div>
