<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>
  <body>
    <section class="container">
      <div class="content">
        <div class="image-box">
          <img
            src="https://img.freepik.com/free-vector/sign-up-concept-illustration_114360-7885.jpg?t=st=1719080779~exp=1719084379~hmac=7fd9556fc374a94e4da9b83b85e9a13d29c74370351c8493ff526b4e26f08597&w=740"
            alt="Beautiful Sea Landscape"
          />
        </div>
        <div class="form-container">
          <header class="htag fw-bold">Sign Up</header>
          <form action="#" class="form">
            <div class="column">
              <div class="input-box">
                <label>First Name</label>
                <input type="text" placeholder="Enter First Name" required />
              </div>
              <div class="input-box">
                <label>Last Name</label>
                <input type="text" placeholder="Enter Last Name" required />
              </div>
            </div>
            <div class="column">
              <div class="input-box">
                <label>Email</label>
                <input type="email" placeholder="Enter Email" required />
              </div>
              <div class="input-box">
                <label>Mobile</label>
                <input type="text" placeholder="Enter Mobile Number" required />
              </div>
            </div>
            <div class="column">
              <div class="input-box">
                <label>Password</label>
                <input type="password" placeholder="Enter password" required />
              </div>
              <div class="input-box">
                <label>Confirm Password</label>
                <input
                  type="password"
                  placeholder="Confirm password"
                  required
                />
              </div>
            </div>
            <button>Submit</button>
            <hr />
            <p class="have-account">
              All ready Have an Account <a href="Login.html">Sign In</a>
            </p>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
