<div class="top mt-3">
  <p class="text-secondary guide mb-4">User > Manage Use > Add User</p>
  <div class="container mt-5">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-2">
        <label class="fw-bold">full Name</label>
      </div>
      <div class="col-10">
        <div class="input-group mb-3 w-50">
          <input
            type="text"
            class="form-control"
            formControlName="fullName"
            placeholder="Full Name"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <label class="fw-bold">User Name</label>
      </div>
      <div class="col-10">
        <div class="input-group mb-3 w-50">
          <input
            type="text"
            class="form-control"
            formControlName="username"
            placeholder="User Name"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <label class="fw-bold">Email</label>
      </div>
      <div class="col-10">
        <div class="input-group mb-3 w-50">
          <input
            type="text"
            class="form-control"
            formControlName="email"
            placeholder="Email"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <label class="fw-bold">Mobile</label>
      </div>
      <div class="col-10">
        <div class="input-group mb-3 w-50">
          <input
            type="text"
            class="form-control"
            formControlName="phoneNumber"
            placeholder="Mobile"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <label class="fw-bold">Password</label>
      </div>
      <div class="col-10">
        <div class="input-group mb-3 w-50">
          <input
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Password"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
        <button class="btn btn-primary float right">Save</button>
      </div>
    </div>
    </form>
  </div>
</div>
