<div class="top mt-3">
  <p class="text-secondary guide mb-4">User > Manage Use > Add User</p>
  <div class="container mt-5">
    <div class="row">
      <div class="col-2">
        <label class="fw-bold">First Name</label>
      </div>
      <div class="col-10">
        <div class="input-group mb-3 w-50">
          <input
            type="text"
            class="form-control"
            placeholder="Item Name"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <label class="fw-bold">User Name</label>
      </div>
      <div class="col-10">
        <div class="input-group mb-3 w-50">
          <input
            type="text"
            class="form-control"
            placeholder="Item Price"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <label class="fw-bold">Email</label>
      </div>
      <div class="col-10">
        <div class="input-group mb-3 w-50">
          <input
            type="text"
            class="form-control"
            placeholder="Description"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <label class="fw-bold">Mobile</label>
      </div>
      <div class="col-10">
        <div class="input-group mb-3 w-50">
          <input
            type="text"
            class="form-control"
            placeholder="Category Name"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <label class="fw-bold">Password</label>
      </div>
      <div class="col-10">
        <div class="input-group mb-3 w-50">
          <input
            type="text"
            class="form-control"
            placeholder="Image Url"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
        <button class="btn btn-primary float right">Save</button>
      </div>
    </div>
  </div>
</div>
